.SignInPage {
    display: flex;
    flex-flow: column;
    margin-bottom: auto;
}

.SIinput {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.SIinput :nth-child(1) {
    border: 1px solid;
    border-radius: 5px;
    border-image: 
        linear-gradient(to top, rgb(255, 255, 255) 0%, #8181813b 80%) 3;
}

.SIinput :nth-child(2){
    border: 1px solid;
    border-radius: 5px;
    border-image: 
        linear-gradient(to bottom, rgb(255, 255, 255) 0%, #8181813b 80%) 3;
}

.SUBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    align-items: flex-start;
    margin-top: 10px;
}

.SUBtn p {
    align-self: flex-start;
    margin-top: 1vh;
    padding: 0;
}