.ProdGrid {
    position: relative;
    width: 30vw;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2e3f5;
}

.ProdList {
    position: relative;
    background-color: #f2e3f5;
    display: flex;
    width: 90vw;
    height: 15vh;
    margin-bottom: 10px;
    border-radius: 30px;
}

.ProdInfosGrid {
    align-self: flex-start;
    margin: 5px;
    padding: 0;
}

.ProdInfosList {
    align-self: center;
    margin-left: 5vw;
    display: flex;
    flex-flow: column;
}

.ProdInfosList .PBrand {
    margin-bottom: auto;
}

.PName {
    font-weight: 500;
    font-size: 0.9rem;

}

.PBrand {
    font-weight: 300;
    font-size: 0.8rem;
}

.PPrice {
    font-size: 0.9rem;
    font-weight: 500;
}