.Prod {
    position: relative;
    width: 30vw;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f2e3f5;
}

.ProdInfos {
    align-self: flex-start;
    margin: 5px;
    padding: 0;
}

.PName {
    font-weight: 500;
    font-size: 0.9rem;

}

.PBrand {
    font-weight: 300;
    font-size: 0.8rem;
}

.PPrice {
    font-size: 0.9rem;
    font-weight: 500;
}