.SignUpPage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: auto;
}

.SUinput {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.SUinputs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 5vh;
}

.SUinput :nth-child(1) {
    border: 1px solid;
    border-radius: 5px;
    border-image: 
        linear-gradient(to top, rgb(255, 255, 255) 0%, #8181813b 80%) 3;
}

.SUinput :nth-child(3){
    border: 1px solid;
    border-radius: 5px;
    border-image: 
        linear-gradient(to bottom, rgb(255, 255, 255) 0%, #8181813b 80%) 3;
}

.SIBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    align-items: flex-start;
    margin-top: 10px;
}

.SIBtn p {
    align-self: flex-start;
    margin-top: 1vh;
    padding: 0;
}


.Radio {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.RdMan, .RdWom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.Copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgb(131, 131, 131);
    font-size: 0.7rem;
}
