.Content {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 60px 0 0 0;
    box-shadow: grey 0px -2px 7px;
    z-index: 90;
    height: 100vh;
    width: 100vw;
}

.Main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.BackNext {
    position: absolute;
    bottom: 3vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Copyright {
    position: absolute;
    text-align: center;
    bottom: 1vh;
    color: rgb(131, 131, 131);
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}