@media (max-width: 500px) {
    .Lang {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LangText {
        text-align: center;
        font-weight: 500;
        padding: 0;
        margin: 3px 0 ;
    }

    .Lang div {
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .Lang1 {
        margin-right: 10px;
    }

    .Lang div a {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 0px 2px 30px;
        height: 100%;
        width: 100%;
        line-height: 90%;
    }

    .LPSignUpBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 25%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    

    .ShopAccessBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% 5% 20% 5%;
        padding: 10%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    .LPSignInBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 20%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    .LPSignInBtn a, .LPSignUpBtn a, .ShopAccessBtn a {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        text-align: center;
        text-shadow: 0px 2px 30px;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        line-height: 90%;
    }

    .MoreInfo {
        border: 1px #57575786 solid;
        border-top: transparent;
        border-left: transparent;
        display: flex;
        border-radius: 32px 0 20px 0;
        padding: 7px;
        background-color: white;
        outline: none;
        margin-right: auto;
        align-self: flex-start;
    }

    .LessInfo {
        transform: rotate(180deg);
        border: 1px #57575786 solid;
        border-left: transparent;
        background-color: white;
        padding: 7px 8px 7px 8px;
        border-radius: 0 12px 12px 0;
        outline: none;
        margin-left: auto;
    }

    .SISignUpBtn, .SUSignInBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9D1FF;
        border-radius: 5px ;
    }

    .SISignInBtn a, .SISignUpBtn a, .SUSignInBtn a {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        text-align: center;
        text-shadow: 0px 2px 30px;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        line-height: 90%;
    }
    
    .NextArr {
        height: 60px;
        width: 60px;
        border: 2px #DEB4E4 solid;
        background-color: white;
        border-radius: 16px;
        display: flex;
        align-items: center;
        margin: 0 10px;
        justify-content: center;
        box-sizing: border-box;
    }

    .NextArr input {
        transform: rotate(180deg);
        outline: none;
    }

    .BackArr {
        height: 60px;
        width: 60px;
        margin: 0 10px;
        background-color: white;
        border: 2px #DEB4E4 solid;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .BackArr input {
        outline: none;
    }
}

