@media (max-width: 500px) {
    .Lang {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LangText {
        text-align: center;
        font-weight: 500;
        padding: 0;
        margin: 3px 0 ;
    }

    .Lang div {
        padding: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .Lang1 {
        margin-right: 10px;
    }

    .Lang div button {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        text-shadow: 0px 2px 30px;
        height: 100%;
        width: 100%;
        line-height: 90%;
        background: none;
        border: none;
    }

    .LPSignUpBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 25%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    

    .ShopAccessBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% 5% 20% 5%;
        padding: 10%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    .LPSignInBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 20%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px ;
    }

    .LPSignInBtn button, .LPSignUpBtn button, .ShopAccessBtn button {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        text-align: center;
        text-shadow: 0px 2px 30px;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        line-height: 90%;
        background: none;
        border: none;
    }

    .MoreInfo {
        border: 1px #57575786 solid;
        border-top: transparent;
        border-left: transparent;
        display: flex;
        border-radius: 32px 0 20px 0;
        padding: 7px;
        background-color: white;
        outline: none;
        margin-right: auto;
        align-self: flex-start;
    }

    .LessInfo {
        transform: rotate(180deg);
        border: 1px #57575786 solid;
        border-left: transparent;
        background-color: white;
        padding: 7px 8px 7px 8px;
        border-radius: 0 12px 12px 0;
        outline: none;
        margin-left: auto;
    }

    .SISignUpBtn, .SUSignInBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9D1FF;
        border-radius: 5px ;
        padding: 10px;
    }

    .SISignInBtn button, .SISignUpBtn button, .SUSignInBtn button {
        outline: none;
        font-style: normal;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        text-align: center;
        text-shadow: 0px 2px 30px;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        line-height: 90%;
        background: none;
        border: none;
    }
    
    .NextArr {
        height: 60px;
        width: 60px;
        border: 2px #DEB4E4 solid;
        background-color: white;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 20px;
    }

    .NextArr input {
        transform: rotate(180deg);
        outline: none;
    }

    .BackArr {
        height: 60px;
        width: 60px;
        background-color: white;
        border: 2px #DEB4E4 solid;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-left: 20px;
    }

    .BackArr input {
        outline: none;
    }

    .ShopTitle {
        display: flex;
        flex-flow: column;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .ShopTitle button{
        outline: none;
        background: none;
        border: none;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }

    .ShopTitle div {
        width: 40px;
        height: 2px;
        background-color: #DEB4E4;
        margin: 0;
    }

    .Filter , .Sort {
        height: 40px;
        width: 40px;
        border: 1px #DEB4E4 solid;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        border-radius: 10px;
    }

    .Filter input , .Sort Input {
        outline: none;
        width: 26.19px;
    }

    .BackP, .NextP, .DBackP , .DNextP {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #DEB4E4;
        border: 1px #C387EB solid;
    }

    .NextP input, .DBackP input {
        transform: rotate(180deg);
    }

    .Grid, .List {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content: center;
    }

    .Active {
        border: 1px #C387EB solid;
        background-color: #DEB4E4;
    }

    .AddBag {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border: 1px #DEB4E4 solid;
        border-radius: 5px;
    }

    .AddBag input {
        width: 15px;
    }
    
    .CatBtnSel{
        background-color: #F9D1FF;
        padding: 10px;
        border: 1px solid #C387EB;
        border-bottom: none;
        border-radius: 15px 5px 0 0;    
    }

    .CatBtn{
        padding: 10px;
    }

    .CatBtn label, .CatBtnSel label {
        font-size: 0.95rem;
        font-weight: 500;
    }
    
    .SDSignUpBtn, .SDSignInBtn {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 1vh 0 ;
    }

    .SDSignUpBtn button, .SDSignInBtn button {
        font-family: "Montserrat Alternates";
        color: white;
        display: flex;
        outline: none;
        background: none;
        border: none;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }

    .UnderLine {
        width: 50%;
        height: 1px;
        background-color: white;
    }

    .BagBtns {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 1vh 0 ;
    }

    .BagBtns button{
        color: white;
        display: flex;
        outline: none;
        background: none;
        border: none;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }

    .Selected {
        background-color: #C387EB;
        border: 1px solid #DEB4E4;
    }
}

