.Copyright {
    text-align: center;
    color: rgb(131, 131, 131);
    font-size: 0.7rem;
    margin: 0 5px;
    align-self: flex-end;
}

.CompanyMoreInfos {
    width: 90vw;
    height: auto;
}

.LogoAndInfoLI {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 2px;
}

.LogoAndInfoLI :nth-child(2) {
    margin-right: auto;
}

.LogoAndInfoMI {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 2px;
}

.LogoAndInfoMI p {
    font-weight: 500;
    font-size: 0.9rem;
    direction: rtl;
    margin-left: auto;
    margin-right: 3px;
}

.AdressSocAndBtn {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.Adress {
    margin-left: 5px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.Adress p {
    font-weight: 300;
    font-size: 0.7rem;
    margin: 0;
    line-height: 15px;
}

.SocNet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: flex-start;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: auto;
}

.SocNet input {
    margin: 2px;
    outline: none;
}

.SocAndBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;
}