.ShopProds {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    background-color: #F9D1FF;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.FilterSort {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: 10px 0 0 0;
}

.Filter , .Sort {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Filter label , .Sort label {
    margin-top: 3px;
    font-size: 0.9rem;
    font-weight: 500;
}

.Selected {
    background-color: #DEB4E4;
    border-radius: 10px 10px 0 0;
}

