html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100vw;
}

a, button, h1, h2, h3, label, input {
    font-family: 'Montserrat Alternates';
    text-decoration: none;
    outline: none;
}

p {
    font-family: 'Montserrat';
}
